- name: install pip
  apt:
    name: python3-pip

- name: install docker with pip
  pip:
    name: docker

- name: Initialise docker swarm
  docker_swarm:
    state: present

- name: get swarm worker token
  shell: docker swarm join-token -q worker
  register: worker_token

- name: host
  add_host:
    name: 'join_token'
    value: '{{ worker_token }}'